.workout-wrapper {
    border: 1px solid #e1e4e8; /* Light grey border */
    border-radius: 6px; /* Rounded corners */
    padding: 16px; /* Spacing inside the card */
    margin: 10px 0; /* Space between cards */
    background-color: #fff; /* White background */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1); /* Subtle shadow */
    transition: box-shadow 0.2s ease; /* Smooth transition for hover effect */
}

.workout-wrapper:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.2); /* Slightly larger shadow on hover */
}

.workout-details {
    cursor: pointer; /* Pointer cursor on hover */
}

.workout-details h4 {
    margin-top: 0; /* No top margin for the title */
    color: #0366d6; /* GitHub's link color for the title */
    font-size: 16px; /* Font size for the title */
    margin-bottom:0
}

.workout-details p {
    color: #586069; /* Subdued text color */
    margin: 8px 0; /* Margin for paragraphs */
    font-size: 14px; /* Font size for paragraphs */
}

.workout-details div {
    padding: 2px 6px; /* Padding inside tags */
    margin-right: 4px; /* Margin between tags */
    border-radius: 2px; /* Rounded corners for tags */
    font-size: 12px; /* Smaller font size for tags */
    color: #5c5c5c; /* Match the title color for tags */
}

.buttons {
    display: flex;
    justify-content: flex-end; /* Buttons aligned to the right */
}

.deleteSection, .resolveSection {
    cursor: pointer;
    color: #0366d6;
}

.material-symbols-outlined {
    font-size:1.1rem;
    color:rgb(112, 112, 112);
}

.deleteSection, .resolveSection {
    cursor: pointer;
    color: #0366d6;
    margin-left: 8px; /* Space between buttons */
    transition: background-color 0.2s ease, color 0.2s ease; /* Smooth transition for hover effects */
}

/* Hover effect for deleteSection */
.deleteSection:hover {
    background-color: #ffeded; /* Light red background on hover */
    color: #d73a49; /* Darker red text color on hover */
}

/* Hover effect for resolveSection */
.resolveSection:hover {
    background-color: #e6f3ff; /* Light blue background on hover */
    color: #0366d6; /* Darker blue text color on hover */
}
